@import './index.scss';

@media screen and (max-width: $xs) {

	.el-message-box {
		width: 80% !important;
	}

	.layout-lock-screen-date-top {
		display: none;
	}
}

@media screen and (max-width: $sm) {

	.layout-navbars-breadcrumb-hide {
		display: none;
	}

	.layout-view-link {
		a {
			max-width: 80%;
			text-align: center;
		}
	}

	.layout-search-dialog {
		.el-autocomplete {
			width: 80% !important;
		}
	}
}

@media screen and (max-width: 1000px) {

	.layout-drawer-content-flex {
		position: relative;
		&::after {
			content: '手机版不支持切换布局';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 1;
			text-align: center;
			height: 140px;
			line-height: 140px;
			background: rgba(255, 255, 255, 0.9);
			color: #666666;
		}
	}

	.table-footer-tool {
		display: none !important;
	}
}
